# Python
__pycache__/
*.pyc
*.pyo
venv/
env/
.venv/
*.egg-info/

# Environment variables / secrets
.env
*.pem
*.key

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
crash.log
crash.*.log

# Helm
*.tgz

# OS/editor junk
.DS_Store
.vscode/settings.json
*.log